/* HEADER */
.header {
    justify-content: flex-start; /* Alignement horizontal à gauche */
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white; /* Couleur du texte */
}
.header .col-md-2{
    display: inline;
}
.user-icon{
    height: 5vh;
    width: 20%;
    float: left;
}
.user-icon img {
    width: 30px; /* Taille de l'icône utilisateur */
    height: 30px;
}

.user-info p {
    margin: 0;
    font-weight: bold;
}
.body-has-background .header .user-info p {
    color: black; /* Couleur du texte si le background du body est défini */
}
/* HEADER */
