header
{
    position:absolute;
    width: 100%;
    padding: 30px 120px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 2em;
    color: #73a679;
    pointer-events: none;
}
.navigation a
{
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover
{
    background-color:rgb(50, 97, 69);
    color: white;
}
.active
{
    background-color:rgb(50, 97, 69);
    color: white !important;

}
