#content-payement{
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 0 25px 35px rgba(0,0,0, 0.6);
    border-radius: 15px;
    height: 60vh;
}
#content-payement #table{
    margin-top: 5%;
    padding : 0 15px;
}
