#top-div{
    height: 20vh;
    border-radius: 25px;
    background-image:url("../images/back6.avif");
}

#top-div h1{
    color: azure;
}
#filter-date{
    padding-top: 5px;
}
#statistics{
    margin-top: 2%;
}
#statistics-simple #st1{
    background-color: #416551;
    color: azure;
    padding: 5px 15px;
    border-radius: 15px;
    height: 20vh;
}
footer{
    margin-top: 4%;
}